<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MetaTrader 5 Control</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
  <div class="container mt-5">
    <!-- Modal -->
    <div class="modal fade" id="addAccountModal" tabindex="-1" role="dialog" aria-labelledby="addAccountModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addAccountModalLabel">Add MetaTrader Account</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/add_account" id="add-account-form" method="post">

              <div class="form-group">
                <label for="login">Login:</label>
                <input type="text" class="form-control" id="login" name="login" placeholder="MetaTrader Login" />
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password"
                  placeholder="MetaTrader Password" />
              </div>
              <div class="form-group">
                <label for="server">Server:</label>
                <input type="text" class="form-control" id="server" name="server" placeholder="MetaTrader Server" />
              </div>
              <div class="form-group">
                <label for="path">Path:</label>
                <input type="text" class="form-control" id="path" name="path" placeholder="MetaTrader Path" />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="submitForm()">Add Account</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">

    <div class="row">
      <div class="col-2">
        <!-- Add MetaTrader account button -->
        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#addAccountModal">Add MetaTrader
          Account</button>
      </div>
      <div class="col-2 ">
        <div class="alert alert-success text-center">XAUUSD</div>
        <div class="row">
          <div class="col-6 ">
            <button type="button" onclick="buy_All('XAUUSD')" class="btn btn-primary form-control">Buy</button>
          </div>
          <div class="col-6 ">
            <button type="button" onclick="sell_All('XAUUSD')" class="btn btn-danger form-control">Sell</button>
          </div>
        </div>
        <button type="button" onclick="Close_All('XAUUSD')" class="btn btn-warning form-control my-1">Close
          All</button>
      </div>
      <div class="col-2">
        <div class="alert alert-success text-center">Nasdaq</div>
        <div class="row">
          <div class="col-6 ">
            <button type="button" onclick="buy_All('Nasdaq')" class="btn btn-primary form-control">Buy</button>
          </div>
          <div class="col-6 ">
            <button type="button" onclick="sell_All('Nasdaq')" class="btn btn-danger form-control">Sell</button>
          </div>
        </div>
        <button type="button" onclick="Close_All({'Nasdaq')" class="btn btn-warning form-control my-1">Close
          All</button>
      </div>
      <div class="col-2">
        <div class="alert alert-success text-center">Dow Jones</div>
        <div class="row">
          <div class="col-6 ">
            <button type="button" onclick="buy_All('Dow Jones')" class="btn btn-primary form-control">Buy</button>
          </div>
          <div class="col-6 ">
            <button type="button" onclick="sell_All('Dow Jones')" class="btn btn-danger form-control">Sell</button>
          </div>
        </div>
        <button type="button" onclick="Close_All('Dow Jones')" class="btn btn-warning form-control my-1">Close
          All</button>
      </div>
      <div class="col-2">
        <div class="alert alert-success text-center">Oil</div>
        <div class="row">
          <div class="col-6 ">
            <button type="button" onclick="buy_All('Oil')" class="btn btn-primary form-control">Buy</button>
          </div>
          <div class="col-6 ">
            <button type="button" onclick="sell_All('Oil')" class="btn btn-danger form-control">Sell</button>
          </div>
        </div>
        <button type="button" onclick="Close_All('Oil')" class="btn btn-warning form-control my-1">Close
          All</button>
      </div>
      <div class="col-2">
        <div class="alert alert-success text-center">EURUSD</div>
        <div class="row">
          <div class="col-6 ">
            <button type="button" onclick="buy_All('EURUSD')" class="btn btn-primary form-control">Buy</button>
          </div>
          <div class="col-6 ">
            <button type="button" onclick="sell_All('EURUSD')" class="btn btn-danger form-control">Sell</button>
          </div>
        </div>
        <button type="button" onclick="Close_All('EURUSD')" class="btn btn-warning form-control my-1">Close
          All</button>
      </div>
    </div>
    <hr />
    {% for account_id, account in meta_trader_accounts.items() %}
    <div class="row">

      <div class="col-2">
        <input id="account_{{ account_id }}" name="account_{{ account_id }}" type="checkbox">
        <strong>Account {{ account.login }}</strong> - Balance: <span id="balance{{ account_id }}">{{ account.balance
          }}$</span>
        <button type="button" onclick="removeAccount({{ account_id }})" class="btn btn-danger">D</button>
      </div>
      <div class="col-2">

        <div class="row">
          <div class="col-8">
            <input type="number" class="form-control" id="lot_size{{ account_id }}" name="lot_size" placeholder="lot" />
          </div>
          <div class="col-4">
            <button type="button" onclick="closePosition({{ account_id }} ,'XAUUSD')"
              class="form-control btn-warning">X</button>
          </div>
        </div>


      </div>
      <div class="col-2">
        <div class="row">
          <div class="col-8">
            <input type="number" class="form-control" id="lot_size{{ account_id }}" name="lot_size" placeholder="lot" />
          </div>
          <div class="col-4">
            <button type="button" onclick="closePosition({{ account_id }} ,'Nasdaq')"
              class="form-control btn-warning">X</button>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="row">
          <div class="col-8">
            <input type="number" class="form-control" id="lot_size{{ account_id }}" name="lot_size" placeholder="lot" />
          </div>
          <div class="col-4">
            <button type="button" onclick="closePosition({{ account_id }},'Dow Jones')"
              class="form-control btn-warning">X</button>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="row">
          <div class="col-8">
            <input type="number" class="form-control" id="lot_size{{ account_id }}" name="lot_size" placeholder="lot" />
          </div>
          <div class="col-4">
            <button type="button" onclick="closePosition({{ account_id }},'Oil')"
              class="form-control btn-warning">X</button>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="row">
          <div class="col-8">
            <input type="number" class="form-control" id="lot_size{{ account_id }}" name="lot_size" placeholder="lot" />
          </div>
          <div class="col-4">
            <button type="button" onclick="closePosition({{ account_id }} , 'EURUSD')"
              class="form-control btn-warning">X</button>
          </div>
        </div>
      </div>

    </div>
    <hr />
    {% endfor %}
  </div>

  <!-- Messages -->
  <div id="messages" class="mt-4"></div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    function submitForm() {
      var form = $('#add-account-form');
      $.ajax({
        type: form.attr('method'),
        url: form.attr('action'),
        data: form.serialize(),
        success: function (response) {
          if (response.success) {
            location.reload();
          }
        }
      });
    }
    // Function to buy
    function buy(accountId) {
      var symbol = $('#symbol' + accountId).val()
      var lotSize = $('#lot_size' + accountId).val()
      $.ajax({
        type: 'POST',
        url: '/buy',
        data: {
          account_id: accountId,
          symbol: symbol,
          lot_size: lotSize
        },
        success: function (response) {
          $('#messages').html('<div class="alert alert-primary" role="alert">' + response.message + '</div>')
          $('#balance' + accountId).text(response.balance)
        }
      })
    }

    // Function to sell
    function sell(accountId) {
      var symbol = $('#symbol' + accountId).val()
      var lotSize = $('#lot_size' + accountId).val()
      $.ajax({
        type: 'POST',
        url: '/sell',
        data: {
          account_id: accountId,
          symbol: symbol,
          lot_size: lotSize
        },
        success: function (response) {
          $('#messages').html('<div class="alert alert-primary" role="alert">' + response.message + '</div>')
          $('#balance' + accountId).text(response.balance)
        }
      })
    }

    // Function to close position
    function closePosition(accountId, symbol) {
      var symbol = $('#symbol' + accountId).val()
      $.ajax({
        type: 'POST',
        url: '/close',
        data: {
          account_id: accountId,
          symbol: symbol
        },
        success: function (response) {
          $('#messages').html('<div class="alert alert-primary" role="alert">' + response.message + '</div>')
          $('#balance' + accountId).text(response.balance)
        }
      })
    }
    // Function to remove account
    function removeAccount(accountId) {
      $.ajax({
        type: 'POST',
        url: '/remove_account',
        data: {
          account_id: accountId
        },
        success: function (response) {
          if (response.success) {
            location.reload() // Reload the page after successful removal
          } else {
            // Handle error if necessary
            console.log('Error:', response.message)
          }
        }
      })
    }

    function buy_All(symbol) {
      var symbol = $('#symbol' + accountId).val()
      var lotSize = $('#lot_size' + accountId).val()
      $.ajax({
        type: 'POST',
        url: '/buy',
        data: {
          account_id: accountId,
          symbol: symbol,
          lot_size: lotSize
        },
        success: function (response) {
          $('#messages').html('<div class="alert alert-primary" role="alert">' + response.message + '</div>')
          $('#balance' + accountId).text(response.balance)
        }
      })
    }
    function sell_All(symbol) {
      var symbol = $('#symbol' + accountId).val()
      var lotSize = $('#lot_size' + accountId).val()
      $.ajax({
        type: 'POST',
        url: '/sell',
        data: {
          account_id: accountId,
          symbol: symbol,
          lot_size: lotSize
        },
        success: function (response) {
          $('#messages').html('<div class="alert alert-primary" role="alert">' + response.message + '</div>')
          $('#balance' + accountId).text(response.balance)
        }
      })
    }
    function Close_All(symbol) {
      var symbol = $('#symbol' + accountId).val()
      $.ajax({
        type: 'POST',
        url: '/close',
        data: {
          account_id: accountId,
          symbol: symbol
        },
        success: function (response) {
          $('#messages').html('<div class="alert alert-primary" role="alert">' + response.message + '</div>')
          $('#balance' + accountId).text(response.balance)
        }
      })
    }
  </script>
</body>

</html>